#logoCustom {
    width: 160px;
    height: 70px;
    background-size: 90%;
    background-repeat: no-repeat;
}
#upload_image, #upload_bg {
    width: 700px;
}
.nbs-flexisel-inner img {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 50px !important;
    height: 50px !important;
}
#wpwrap .avatar, .wp-post-image {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
div.wp-menu-image:before {
    padding: 4px 0 !important;
}
.dashicons-before:before {
    width: 25px;
    height: 25px;
    font-size: 25px;
}
.metabox-holder .postbox-container .empty-container {
    border: 0px dashed #bbb !important;
}
#contextual-help-link-wrap {
    display: none !important;
}
table.widefat {
    background: transparent !important;
    border: 0px solid #e5e5e5 !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.screen-meta-toggle {
    margin-top: 17px !important;
    margin-right: 20px !important;
}
#adminmenuwrap {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10px;
}
textarea {
    background: rgba(255, 255, 255, 0.8) !important;
}
.progress {
    height: 20px !important;
    display: block;
}
.wrap h2 {
    text-indent: 10px;
}
#logoCustom {
    border: 0px solid black;
}
.appearance_page_options-framework h2.nav-tab-wrapper {
    padding-left: 0px !important;
    background: transparent !important;
}
.appearance_page_options-framework h2 .nav-tab {
    padding: 5px 9px !important;
    font-size: 13px !important;
    line-height: 23px !important;
}
.nav-tab-wrapper {
    text-indent: 0px !important;
}
.nav-tab-wrapper a {
    margin-bottom: 3px;
}
#Custom_Dashboard_Widget_Media .progress {
    height: 40px !important;
}
#Custom_Dashboard_Widget_Media .fa {
    margin-top: 9px !important;
}
#cn-button:focus {
    outline: 0 !important;
}
.circularlabel {
    font-size: 10px !important;
}
@media only screen and (max-width: 960px) {
    .auto-fold #adminmenu #logoCustom {
        display: none;
    }
}
#optionsframework-wrap .nav-tab-wrapper {
    background: transparent !important;
}
#screen-options-link-wrap{
    z-index:999999999 !important;
}